@model DayUp.Models.CommenInfo

@{
    ViewBag.Title = "Delete";
}

<h2>删除</h2>

<h3>你真的要删除你的闪念?</h3>
<div>
    <h4>闪念记录</h4>
    <hr />
    <dl class="dl-horizontal">
        @*<dt>
            @Html.DisplayNameFor(model => model.userid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.userid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contentid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contentid)
        </dd>*@

        <dt>
            地址：
            @*@Html.DisplayNameFor(model => model.url)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.url)
        </dd>

        <dt>
            标题：
            @*@Html.DisplayNameFor(model => model.title)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            你的闪念：
            @*@Html.DisplayNameFor(model => model.commen)*@
        </dt>

        <dd>
            @Html.DisplayFor(model => model.commen)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="删除" class="btn btn-default" /> |
            @Html.ActionLink("返回到闪念", "YourComment")
        </div>
    }
</div>

